{% extends 'base.html' %}
{% load i18n %}
{% block body %}
<div class="row">
	<div class="col-sm-12 col-md-7">
		<div class="panel panel-default">
			<a class="panel-body">
				<h3>{% trans "Confirm deletion" %}</h3>
				<form method="post">{% csrf_token %}
					<p>{%block message%}{% endblock %}</p>
					<a href="{% url 'member:list-club' %}"><button type="button" class="btn btn-primary">{% trans "Cancel" %}</button></a>
					<input class="btn btn-danger" type="submit" value="{% trans "Delete" %}"/>
				</form>
		</div>
	</div>
</div>
{% endblock %}